.edit-profile {
  background-color: white;
  border: 0.4px solid rgba(0, 0, 0, 0.2);
  margin-top: 5rem;
  width: 65%;
}
.username-profile {
  display: flex;
  align-items: center;
}
.username-profile i {
  font-size: 6rem;
  color: rgba(0, 0, 0, 0.3);
}
.username-profile p {
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 500;
}
.edit-profile-form {
  margin-top: 1rem;
}
.edit-profile-form .profile-form {
  display: block;
  margin-left: 7rem;
  margin-right: auto;
}
.edit-profile-form .profile-form label {
  font-size: 16px;
  font-weight: 600;
  font-family: sans-serif;
}
.edit-profile-form .profile-form input:focus {
  outline: none !important;
  outline-width: 0 !important;
  border: 1.8px solid rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
.edit-profile-form .profile-form textarea:focus {
  outline: none !important;
  outline-width: 0 !important;
  border: 2px solid rgba(0, 0, 0, 0.8);
  box-shadow: none;
}
.edit-profile-form .profile-form input {
  font-size: 14px;
  font-family: sans-serif;
  color: black;
  padding-left: 10px;
  width: 300px;
  height: 30px;
}
.edit-profile-form .profile-form textarea {
  font-size: 14px;
  font-family: sans-serif;
  color: black;
  padding-left: 10px;
  width: 300px;
  height: 60px;
}
/* smaller phones media query */
@media screen and (min-device-width: 280px) and (max-device-width: 653px) {
  .edit-profile {
    margin-left: -58.7rem;
    width: 100vw;
    border: none;
    margin-top: 4rem;
  }
  .edit-profile-form .profile-form {
    margin-left: 2rem;
    margin-bottom: 5rem;
  }
  .username-profile {
    margin-left: 5rem;
  }
}
/* iphone x media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .edit-profile {
    margin-left: -58.7rem;
    width: 100vw;
    border: none;
    margin-top: 4rem;
  }
  .edit-profile-form .profile-form {
    margin-left: 2rem;
    margin-bottom: 5rem;
  }
  .username-profile {
    margin-left: 5rem;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .edit-profile {
    margin-left: -56rem;
    width: 100vw;
    border: none;
    margin-top: 4rem;
  }
  .edit-profile-form .profile-form {
    margin-left: 4rem;
    margin-bottom: 5rem;
  }
  .username-profile {
    margin-left: 5rem;
  }
}
/* ipad media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
