* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  background-color: white;
  border-bottom: 1px solid rgba(64, 64, 64, 0.3);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.navbar .navbar-brand img {
  height: 40px;
  object-fit: cover;
  display: none;
}
.navbar .navbar-toggler-icon {
  background-image: url("../images/navbar.png");
}
.navbar button {
  border: none;
  outline: none;
}
.material-icons {
  font-size: 26px;
  color: rgba(0, 0, 0, 0.7);
  display: flex !important;
  vertical-align: middle;
}
.navbar-nav {
  margin-right: 10rem;
}
.navbar-nav > li {
  padding-left: 3px;
  padding-right: 3px;
}
.search-form {
  margin-left: 28rem;
}
.search-form input {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  width: 200px;
  height: 28px;
  padding-left: 80px;
  box-sizing: border-box;
  background: url(../images/search.png);
  background-size: 15px;
  background-repeat: no-repeat;
  background-position: 60px 6px;
  background-color: rgba(244, 247, 246, 0.6);
}
.search-form input:focus {
  outline: none !important;
  outline-width: 0 !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: none;
}
.search-form input:focus {
  padding-left: 30px;
  background-position: 10px 5.5px;
  background-color: rgba(244, 247, 246, 0.6);
}
.search-form input::placeholder {
  font-size: 15px;
}
.dropdown p {
  padding-top: 10px;
  font-size: 13px;
  font-family: sans-serif;
  color: black !important;
}
.dropdown-toggle::after {
  display: none;
}
.dropdown img {
  width: 30px;
  height: 30px;
  object-fit: contain;
  border-radius: 50%;
  border: 0.5px solid rgba(64, 64, 64, 0.3);
  margin-top: 0.3rem;
}
.dropdown-menu {
  width: 220px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  box-shadow: 2px 2px 2px -3px rgba(0, 0, 0, 0.9);
  border-radius: 5px;
}
.dropdown-item {
  display: inline-flex;
  align-items: center;
  justify-items: center;
  gap: 10px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: normal;
}
.dropdown-item i {
  font-size: 22px;
}
.dropdown-item.active,
.dropdown-item:active {
  color: black;
  text-decoration: none;
  background-color: white;
}
.navbar .search-results {
  margin-top: 21rem;
  position: absolute;
  margin-left: 25rem;
  width: 300px;
  height: 300px;
  background-color: white;
  box-shadow: 2px -2px 2px -3px rgba(0, 0, 0, 0.9);
  border-radius: 6px;
}
.navbar .not-visible {
  display: none;
}
/* smaller phones media query */
@media screen and (min-device-width: 280px) and (max-device-width: 653px) {
  .navbar .navbar-brand img {
    height: 40px;
    object-fit: cover;
    display: block;
    margin-left: 2rem;
  }
  .search-form {
    margin-left: 0rem;
  }
  .navbar .navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    margin-left: auto;
    gap: 10px;
  }
  .dropdown-menu {
    width: 140px;
  }
}
/* iphone x media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .navbar .navbar-brand img {
    height: 40px;
    object-fit: cover;
    display: block;
    margin-left: 2rem;
  }
  .search-form {
    margin-left: 0rem;
  }
}
/* ipad media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}
/* ipad pro media query */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}
