.container {
  margin-top: 5rem;
  width: 70vw;
  height: 403px;
  background-color: white;
  border: 0.5px solid rgba(0, 0, 0, 0.2);
}
.container .card-post {
  height: 100%;
}
.padding-0 {
  padding-right: 0;
  padding-left: 0;
}
.container .post-image {
  border: none;
  height: 400px;
}
.container .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  pointer-events: none;
}
.container .post-detail-card {
  width: 100%;
  height: 100%;
  border: none;
}
.container .post-detail-card .card-header {
  border-bottom: 0.2px solid rgba(0, 0, 0, 0.1) !important;
  background-color: white;
  display: flex;
  align-items: center;
  gap: 8px;
}
.container .post-detail-card .card-header a {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
}
.container .post-detail-card .card-header i {
  font-size: 37px;
}
.container .post-detail-card .card-header .view-more {
  margin-left: auto;
}
.container .post-detail-card .card-header .view-more a i {
  font-size: 25px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}
.container .post-detail-card .card-body {
  width: auto;
  height: 180px;
  max-height: 180px;
  overflow-y: auto;
}
.container .post-detail-card .card-body::-webkit-scrollbar {
  display: none;
}
.container .post-detail-card .card-body .users-comments span {
  font-size: 10px;
  font-weight: normal;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: none;
}
.container .post-detail-card .card-body .users-comments a {
  font-size: 15px;
  font-weight: 600;
  color: black;
  text-decoration-style: solid;
  text-decoration: none;
}
.container .post-detail-card .card-body .users-comments a i {
  font-size: 29px;
}
.container .post-detail-card .card-body .users-comments p {
  width: 245px;
  word-wrap: break-word;
}
.container .post-detail-card .card-footer {
  border-top: 0.2px solid rgba(0, 0, 0, 0.1);
  background-color: white;
}
.container .post-detail-card .card-footer .like-comment-share {
  display: flex;
  gap: 12px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
.container .post-detail-card .card-footer .like-comment-share a {
  text-decoration: none;
}
.container .post-detail-card .card-footer .like-comment-share button {
  border: none;
  background: transparent;
  outline: none;
}
.container .post-detail-card .card-footer .like-comment-share button i {
  font-size: 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.container .post-detail-card .card-footer .like-comment-share a i {
  font-size: 30px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}
.container .post-detail-card .card-footer .likes-comments span {
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
  color: black;
}
.container .post-detail-card .card-footer .timeline a {
  font-size: 14px;
  font-weight: normal;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-decoration: none;
}
.container .post-detail-card .card-footer form input[type="text"] {
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  font-weight: normal;
  color: black;
  font-family: sans-serif;
  width: auto;
}
.container .post-detail-card .card-footer form input::placeholder {
  color: rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: normal;
  font-family: sans-serif;
}
.container .post-detail-card .card-footer form input[type="submit"] {
  float: right;
  border: none;
  color: #0e93cd;
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
  background-color: white;
  outline: none;
}
/* smaller phones media query */
@media screen and (min-device-width: 280px) and (max-device-width: 653px) {
  .container {
    width: 100vw;
  }
  .container .card {
    width: 100%;
  }
  .container .card img {
    width: 100%;
  }
  .container .card .card-body .card-title {
    display: none;
  }
  .container .card .card-body .users-comments {
    width: 270px;
  }
  .container .card .card-body .like-comment-share {
    padding: 12px;
  }
  .container .card .card-body .likes-comments {
    padding: 12px;
  }
  .card-footer form input[type="text"] {
    width: 250px;
  }
}
/* iphone x media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .container {
    width: 100vw;
  }
  .container .card {
    margin-left: -29rem;
    width: 90vw;
  }
  .container .card img {
    width: 100vw;
  }
  .container .card .card-body .card-title {
    display: none;
  }
  .container .card .card-body .users-comments {
    width: 265px;
  }
  .container .card .card-body .like-comment-share {
    padding: 12px;
  }
  .container .card .card-body .likes-comments {
    padding: 12px;
  }
}
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) {
  .container {
    width: 100vw;
  }
  .container .card {
    margin-left: -27rem;
    width: 82vw;
  }
  .container .card img {
    width: 97vw;
  }
  .container .card .card-body .card-title {
    display: none;
  }
  .container .card .card-body .users-comments {
    width: 265px;
  }
  .container .card .card-body .like-comment-share {
    padding: 12px;
  }
  .container .card .card-body .likes-comments {
    padding: 12px;
  }
}
/* ipad media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .post-form {
    border: none;
    margin-left: -34rem;
    width: 100%;
  }
  .post-form form h2 {
    margin-bottom: 2rem;
  }
  .post-form form textarea {
    width: 100%;
  }
}
