.register__form {
  margin-top: 3rem;
  width: 100%;
  border: 1px solid rgba(64, 64, 64, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
  position: relative;
}
.register__form img {
  margin-top: 2rem;
  width: 60%;
  height: 50px;
  object-fit: contain;
  pointer-events: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.register__form p {
  margin-top: 0.7rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  color: rgba(64, 64, 64, 0.7);
  font-weight: bolder;
  font-size: 17px;
  font-family: sans-serif;
}
.register__form .form {
  margin-top: 2rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}
.register__form .form-group {
  margin-bottom: 5px;
}
.register__form input::placeholder {
  font-size: 13px;
}
.register__form input[type="text"] {
  font-size: 14px;
  padding-top: 20px;
}
.register__form input[type="email"] {
  font-size: 14px;
  padding-top: 17px;
}
.register__form input[type="password"] {
  font-size: 14px;
  padding-top: 20px;
  bottom: 3px;
}
.register__form input[type="submit"] {
  margin-top: 0.5rem;
  width: 100%;
  height: 33px;
  font-size: 14px;
  font-weight: bolder;
  font-family: sans-serif;
  border-radius: 5px;
  background-color: #0e93cd;
  outline: none;
  border: none;
  color: white;
}
.register__form .form-control {
  outline: none !important;
}
.register__form .data-policy {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  color: rgba(64, 64, 64, 0.7);
  font-weight: bolder;
  font-size: 12px;
  font-family: sans-serif;
  margin-bottom: 3rem;
}
.register__form .forgot-password {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  color: #6dbfef;
  font-weight: bolder;
  font-size: 12px;
  font-family: sans-serif;
  margin-bottom: 3rem;
}
.register__form .forgot-password a:hover {
  text-decoration: none;
}
.form {
  position: relative;
}
.form .label-email {
  position: absolute;
  top: 1px;
  bottom: 0px;
  left: 13px;
  height: 100%;
  width: 100%;
  color: grey;
  pointer-events: none;
}
.content-email {
  position: absolute;
  top: 10px;
  font-size: 13px;
  transition: all 0.3s ease;
}
.form input:focus + .label-email .content-email,
.form input:not(:placeholder-shown) + .label-email .content-email {
  transform: translateY(-70%);
  font-size: 12px;
}
.form .label-username {
  position: absolute;
  top: 1px;
  bottom: 0px;
  left: 13px;
  height: 100%;
  width: 100%;
  color: grey;
  pointer-events: none;
}
.content-username {
  position: absolute;
  top: 50px;
  font-size: 13px;
  transition: all 0.3s ease;
}
.form input:focus + .label-username .content-username,
.form input:not(:placeholder-shown) + .label-username .content-username {
  transform: translateY(-70%);
  font-size: 12px;
}
.form .label-password1 {
  position: absolute;
  top: 1px;
  bottom: 0px;
  left: 13px;
  height: 100%;
  width: 100%;
  color: grey;
  pointer-events: none;
}
.content-password1 {
  position: absolute;
  top: 90px;
  font-size: 13px;
  transition: all 0.3s ease;
}
.form input:focus + .label-password1 .content-password1,
.form input:not(:placeholder-shown) + .label-password1 .content-password1 {
  transform: translateY(-70%);
  font-size: 12px;
}
.form .label-password2 {
  position: absolute;
  top: 1px;
  bottom: 0px;
  left: 13px;
  height: 100%;
  width: 100%;
  color: grey;
  pointer-events: none;
}
.content-password2 {
  position: absolute;
  top: 130px;
  font-size: 13px;
  transition: all 0.3s ease;
}
.form input:focus + .label-password2 .content-password2,
.form input:not(:placeholder-shown) + .label-password2 .content-password2 {
  transform: translateY(-70%);
  font-size: 12px;
}
.have-an-account {
  margin-top: 0.7rem;
  width: 100%;
  border: 1px solid rgba(64, 64, 64, 0.2);
  background-color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1.5rem;
}
.have-an-account p {
  margin-top: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  font-weight: bolder;
  font-size: 16px;
  font-family: sans-serif;
  margin-bottom: 1.5rem;
}
.have-an-account a {
  font-size: 15px;
  font-weight: 600;
  font-family: sans-serif;
  color: #0e93cd;
  text-decoration: none;
}
.have-an-account a:hover {
  text-decoration: none;
  color: #0e93cd;
}
.instagram__appDownload {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 1rem;
  gap: 10px;
}
.instagram__appDownload img {
  width: 130px;
  object-fit: cover;
  pointer-events: none;
}
h4 {
  text-align: center;
  padding-bottom: 0.4rem;
  font-size: 15px !important;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.8);
}
/* smaller phones media query */
@media screen and (min-device-width: 280px) and (max-device-width: 653px) {
  .register__form {
    border: none;
  }
  .have-an-account {
    border: none;
  }
}
/* iphone x media query */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .register__form {
    border: none;
  }
  .have-an-account {
    border: none;
  }
}
/* ipad media query */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .register__form .form {
    border: none;
  }
  .have-an-account {
    border: none;
  }
}
/* ipad pro media query */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
  .register__form {
    border: none;
  }
  .have-an-account {
    border: none;
  }
}
