{% include 'auth/navbar.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/new-posts.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="post-form">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>ADD A NEW POST</h2>
            <div class="mb-3">
                <label class="form-label">Choose photo</label><br>
                <input type="file" name="image">
            </div>
            <div class="mb-3">
                <label for="addCaption" class="form-label">Add caption</label>
                <textarea class="form-control" name="caption" id="addCaption" rows="5"></textarea>
            </div>
            <input type="submit" value="Post" />
        </form>
    </div>
</div>
{% block scripts %}
<script src="{% static 'js/new-posts.js' %}"></script>
{% endblock %}
{% endblock %}