{% include 'auth/navbar.html' %}
{% load static %}
{% load humanize %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/post-detail.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-8">
                <img src="{{ post.image.url }}" alt="{{ post.image.url }}">
            </div>
            <div class="col-md-4">
                <div class="card-body">
                    <div class="card-title">
                        <a href="">
                            <i class="material-icons">account_circle</i>
                        </a>
                        <a href="">{{ post.user.username|truncatechars:9 }}</a>
                        <i class="material-icons" style="font-size: 4px; color: black;">brightness_1</i>
                        <a>Following</a>
                        <div class="view-more">
                            <a href=""><i class="material-icons">more_horiz</i></a>
                        </div>
                    </div>
                    <div class="users-comments">
                        <a href=""><i class="material-icons">account_circle</i></a>
                        <p>
                            <a href="">{{ post.user.username|truncatechars:10 }}</a>&nbsp;{{ post.caption }}<br>
                            <span>{{ post.posted|naturaltime }}</span>
                        </p>
                    </div>
                    <div class="like-comment-share">
                        <form action="{% url 'postliked' post.id %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="post_id" value="{{ post.id }}">
                            {% if user not in post.liked.all %}
                            <button type="button" style="margin-left: 10px;"><i class="material-icons">favorite_border</i></button>
                            {% else %}
                            <button type="button" style="margin-left: 10px;"><i class="material-icons" style="color: red;">favorite</i></button>
                            {% endif %}
                        </form>
                        <a href=""><i style="transform: rotateY(180deg);"
                                class="material-icons">chat_bubble_outline</i></a>
                        <a href=""><i class="material-icons">near_me</i></a>
                        <a href="" style="margin-left: auto; margin-right: 0.5rem;"><i class="material-icons"
                                style="font-size: 35px;">bookmark_border</i></a>
                    </div>
                    <div class="likes-comments">
                        <span id="like_count">{{ post.liked.all.count }}
                            like{{ post.liked.all.count|pluralize }}</span>
                        <div class="timeline">
                            <a href="{% url 'postdetails' post.id %}"
                                title="{{ post.posted | date:'F d, Y' }}">{{ post.posted|naturaltime }}</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form>
                            <input type="text" placeholder="Add a comment..." required>
                            <input type="submit" value="Post">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- {% block scripts %}
<script src="{% static 'js/posts.js' %}"></script>
{% endblock %} -->
<!-- <script>
    $(document).on('click', '#like-button', function (e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "postlike" %}',
            data: {
                postid: $('#like-button').val(),
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                action: 'post'
            },
            success: function (json) {
                document.getElementById("like_count").innerHTML = json['result']
                console.log(json)
            },
            error: function (xhr, errmsg, err) {

            }
        })
    })
</script> -->
{% endblock %}