{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block content %}
<div class="container users__post">
    <div class="card mb-5">
        <div class="card-header">
            <a href="">
                <i class="material-icons">account_circle</i>
            </a>
            <a href="">Andy</a>
        </div>
        <div class="card-body text-center">
            <img src="/static/images/toon.jpg" class="card-img-top" alt="">
            <div class="like-comment-share">
                <a href=""><i class="material-icons">favorite_border</i></a>
                <a href=""><i class="material-icons">chat_bubble_outline</i></a>
                <a href=""><i class="material-icons">send</i></a>
                <a href="" style="margin-left: auto;"><i class="material-icons"
                        style="font-size: 35px;">bookmark_border</i></a>
            </div>
            <div class="likes-comments">
                <p>3,000,000 likes</p>
                <a href="">View all 2,000 comments</a>
                <div class="user-comments">
                    <a href="">people</a>
                    <p>hello</p>
                </div>
                <div class="timeline">
                    <p>1 DAY AGO</p>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form>
                <input type="text" placeholder="Add a comment...">
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
</div>
{% endblock %}