{% load static %}
{% load humanize %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block content %}
<div class="container users__post">
    {% for post_item in post_items %}
    <div class="card mb-5">
        <div class="card-header">
            <a href="">
                <i class="material-icons">account_circle</i>
            </a>
            <a href="">{{ post_item.user.username }}</a>
            <div class="view-more">
                <a href="{% url 'postdetails' post_item.id %}"><i class="material-icons">more_horiz</i></a>
            </div>
        </div>
        <div class="card-body text-center">
            <img src="{{ post_item.image.url }}" alt="{{ post_item.image.url }}">
            <div class="like-comment-share">
                <a id=heart><i class="material-icons">favorite_border</i></a>
                <a href=""><i style="transform: rotateY(180deg);" class="material-icons">chat_bubble_outline</i></a>
                <a href=""><i class="material-icons">near_me</i></a>
                <a href="" style="margin-left: auto;"><i class="material-icons"
                        style="font-size: 35px;">turned_in_not</i></a>
            </div>
            <div class="likes-comments">
                <span>3,000,000 likes</span>
                <div class="owner-caption">
                    <a href="">{{ post_item.user.username }}</a>
                    <p>{{ post_item.caption }}</p>
                </div>
                <a href="{% url 'postdetails' post_item.id %}" class="views">View all 2,000 comments</a>
                <div class="user-comments">
                    <a href="">andyjohn</a>
                    <p>hello</p>
                </div>
                <div class="timeline">
                    <a href="{% url 'postdetails' post_item.id %}"title="{{ post_item.posted | date:'F d, Y' }}">{{ post_item.posted|naturaltime }}</a>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form>
                <input type="text" placeholder="Add a comment..." required>
                <input type="submit" value="Post">
            </form>
        </div>
    </div>
    {% endfor %}
</div>
{% block scripts %}
<script src="{% static 'js/posts.js' %}"></script>
{% endblock %}
{% endblock %}