<div className="register__form">
    <img src="/static/images/Instagram-word-Logo.png" alt="logo" class="center">
    <p>Sign up to see photos and videos from your friends.</p>

    <form className="form">
        <div className="form-group">
            <input type="email" className="form-control" name="email" id="email" autocomplete="off" placeholder=" "
                required />
            <label for="email" className="label-email">
                <span className="content-email">Email</span>
            </label>
        </div>

        <div className="form-group">
            <input type="text" className="form-control" name="username" id="username" autocomplete="off" placeholder=" "
                required />
            <label for="username" className="label-username">
                <span className="content-username">Username</span>
            </label>
        </div>

        <div className="form-group">
            <input type="password" className="form-control" name="password1" id="password" autocomplete="off"
                placeholder=" " onChange={handleChange} required />
            <label for="password1" className="label-password1">
                <span className="content-password1">Password</span>
            </label>
        </div>

        <div className="form-group">
            <input type="password" className="form-control" name="password2" id="password" autocomplete="off"
                placeholder=" " required />
            <label for="password2" className="label-password2">
                <span className="content-password2">Confirm Password</span>
            </label>
        </div>

        <input type="submit" value="Sign Up" />
    </form>

    <p className="data-policy">
        By signing up, you agree to our Terms . Data Policy and Cookies Policy
        .
    </p>
</div>

<div className="container have-an-account">
    <p>
        Have an account?&nbsp;
        <Link to="/login">Log in</Link>
    </p>
</div>
<h4>Get the app.</h4>
<div className="instagram__appDownload">
    <a href="https://apps.apple.com/app/instagram/id389801252?vt=lo" target="blank">
        <img src="/static/images/insta-appstore.png" alt="/static/images/insta-appstore.png">
    </a>
    <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb&utm_campaign=loginPage&ig_mid=99387FFF-9CED-42E6-9B83-5A8DE3737E4F&utm_content=lo&utm_medium=badge"
        target="blank">
        <img src="/static/images/insta-googleplay.png" alt="/static/images/insta-googleplay.png">
    </a>
</div>