{% include 'auth/navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/edit-profile.css' %}">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="edit-profile">
        <div class="edit-profile-form">
            <div class="profile-form">
                <h1>Edit Profile</h1>
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}" id="message">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="username-profile mb-3 row">
                    <i class="material-icons col-sm-3">account_circle</i>
                    <p class="col-sm-9">{{ user.username }}</p>
                </div>
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="mb-3 row">
                        <label for="username" class="col-sm-3 col-form-label">Username</label>
                        <div class="col-sm-9">
                            {{ u_form.username }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="bio" class="col-sm-3 col-form-label">Bio</label>
                        <div class="col-sm-9">
                            {{ p_form.bio }}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="email" class="col-sm-3 col-form-label">Email</label>
                        <div class="col-sm-9">
                            {{ u_form.email }}
                        </div>
                    </div>
                    <input type="submit" value="Submit" class="text-center" />
                </form>
            </div>
        </div>
    </div>
</div>
{% block scripts %}
<script src="{% static 'js/edit-profile.js' %}"></script>
{% endblock %}
{% endblock %}