{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home-user.css' %}">
{% endblock %}

{% block content %}
<div class="container user__content">
    <div class="container username">
        <a href="{% url 'profile' request.user %}">
            <i class="material-icons">account_circle</i>
        </a>
        <a href="{% url 'profile' request.user %}">
            {{ user.username }}
        </a>
    </div>
    <div class="container suggestion">
        <p>Suggestions For You</p>
        <a href="">See All</a>
    </div>
    <div class="suggestion-container">
        {% for profile in suggest_users %}
        <div class="userProfile">
            <i class="material-icons">account_circle</i>
            <div class="user">
                <a href="{% url 'profile' profile.user %}">{{ profile }}</a>
                <p>Suggested for you</p>
            </div>
        </div>
        <div class="follow__button">
            <button type="button" onclick="location.href='{% url 'follow' profile.user 1 %}'">Follow</button>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}