{% include 'auth/navbar.html' %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
{% if post_items %}
<div class="container home__content">
    <div class="users__posts">
        {% include 'auth/posts.html' %}
    </div>
    <div class="home__userContent">
        {% include 'auth/home-user.html' %}
    </div>
</div>
{% else %}
{% if posts == True %}
<div class="container home__content">
    <div class="users__posts">
        {% include 'auth/posts.html' %}
    </div>
    <div class="home__userContent">
        {% include 'auth/home-user.html' %}
    </div>
</div>
{% endif %}
<div class="container d-flex justify-content-center">
    <div class="suggest__container">
        <h1>Suggestions For You</h1>
        <div class="suggestion__container">
            {% for profile in suggest_users %}
            <div class="userProfile">
                <i class="material-icons">account_circle</i>
                <div class="username">
                    <a href="{% url 'profile' profile.user %}">{{ profile }}</a>
                    <p>Suggested for you</p>
                </div>
            </div>
            <div class="follow__button">
                <button type="button" onclick="location.href='{% url 'follow' profile.user 1 %}'">Follow</button>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}