{% include 'auth/navbar.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/message-box.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/emojionearea.min.css' %}">
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="row">
        <div class="col-md-4 padding-0">
            <div class="card user-message">
                <div class="card users-container">
                    <div class="card-header">
                        <div class="new-message">
                            <p>{{ user.username }}</p>
                            <a href="" style="margin-left: auto !important;">
                                <svg aria-label="New Message" class="_8-yf5 " fill="#262626" height="24"
                                    viewBox="0 0 44 44" width="24">
                                    <path
                                        d="M33.7 44.12H8.5a8.41 8.41 0 01-8.5-8.5v-25.2a8.41 8.41 0 018.5-8.5H23a1.5 1.5 0 010 3H8.5a5.45 5.45 0 00-5.5 5.5v25.2a5.45 5.45 0 005.5 5.5h25.2a5.45 5.45 0 005.5-5.5v-14.5a1.5 1.5 0 013 0v14.5a8.41 8.41 0 01-8.5 8.5z">
                                    </path>
                                    <path
                                        d="M17.5 34.82h-6.7a1.5 1.5 0 01-1.5-1.5v-6.7a1.5 1.5 0 01.44-1.06L34.1 1.26a4.45 4.45 0 016.22 0l2.5 2.5a4.45 4.45 0 010 6.22l-24.3 24.4a1.5 1.5 0 01-1.02.44zm-5.2-3h4.58l23.86-24a1.45 1.45 0 000-2l-2.5-2.5a1.45 1.45 0 00-2 0l-24 23.86z">
                                    </path>
                                    <path
                                        d="M38.2 14.02a1.51 1.51 0 01-1.1-.44l-6.56-6.56a1.5 1.5 0 012.12-2.12l6.6 6.6a1.49 1.49 0 010 2.12 1.51 1.51 0 01-1.06.4z">
                                    </path>
                                </svg>
                            </a>
                        </div>
                    </div>
                    <div class="card-body">
                        {% for message in messages %}
                        <a class="{% if active_user == message.user.username %}is-active{% endif %}" 
                        onclick="location.href='{% url 'messaging:direct' message.user.username %}'">
                            <div class="card user-tile">
                                <i class="material-icons">account_circle</i>
                                <p>{{ message.user.username }}</p>
                            </div>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 padding-0">
            <div class="card message-container">
                <div class="card-header">
                    <p>{{ direct.recipient.username }}</p>
                </div>
                <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    {% for direct in directs %}
                    <p>{{ direct.sender.username }}</p>
                    <p>{{ direct.body }}</p>
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <div class="send-form">
                        <form method="POST" action="{% url 'messaging:send-direct' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <input type="hidden" name="to_user" value="{{ active_user }}"
                                <textarea id="myTextarea" placeholder="Message..." class="form-control" name="body"
                                    rows="1" required></textarea>
                            </div>
                            <input type="submit" value="Send">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/emojionearea.min.js' %}"></script>
<script src="{% static 'js/message-box.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#myTextarea").emojioneArea({
            pickerPosition: "top",
            tonesStyle: "bullet",
            events: {
                keyup: function (editor, event) {
                    console.log('event:keyup');
                    countChar(this);
                }
            }
        });
    });
</script>
{% endblock %}