{% load static %}
{% load humanize %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/posts.css' %}">
{% endblock %}

{% block content %}
<div class="container users__post">
    {% for post_item in post_items %}
    <div class="card mb-5">
        <div class="card-header">
            <a href="{% url 'profile' post_item.user %}">
                <i class="material-icons">account_circle</i>
            </a>
            <a href="{% url 'profile' post_item.user %}">{{ post_item.user.username }}</a>
            <div class="view-more">
                <a style="cursor: pointer;" data-bs-toggle="modal" data-bs-target="#postModal{{ post_item.id }}"><i
                        class="material-icons">more_horiz</i></a>
            </div>
        </div>
        <div class="card-body text-center fill-space">
            <img class="img-fluid" src="{{ post_item.image.url }}" alt="{{ post_item.image.url }}">
            <div class="like-comment-share">
                {% if request.user.is_authenticated %}
                <form action="{% url 'posts:postlike'%}" method="POST" class="like-form" id="{{ post_item.id }}">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post_item.id }}">
                    <button type="submit" class="like-btn{{ post_item.id }}">
                        {% if user not in post_item.liked.all %}
                        <i class="material-icons">favorite_border</i>
                        {% else %}
                        <i style="color: red;" class="material-icons">favorite</i>
                        {% endif %}
                    </button>
                </form>
                {% endif %}
                <a href=""><i style="transform: rotateY(180deg);" class="material-icons">chat_bubble_outline</i></a>
                <a href=""><i class="material-icons">near_me</i></a>
                {% if favourite is True %}
                <a href="{% url 'posts:postfavourite' post_item.id %}" style="margin-left: auto;"><i
                        class="material-icons" style="font-size: 35px;">bookmark</i></a>
                {% else %}
                <a href="{% url 'posts:postfavourite' post_item.id %}" style="margin-left: auto;"><i
                        class="material-icons" style="font-size: 35px; padding-right: 15px !important;">bookmark_border</i></a>
                {% endif %}
            </div>
            <div class="likes-comments">
                <div class="like" style="display: flex; align-items: center; gap: 5px;">
                    <div class="like-counts{{ post_item.id }}">
                        <span>{{ post_item.total_likes }}</span>
                    </div>
                    <div class="like-counts">
                        <span>like{{ post_item.total_likes|pluralize }}</span>
                    </div>
                </div>
                <div class="owner-caption">
                    <a href="">{{ post_item.user.username }}</a>
                    <p>{{ post_item.caption }}</p>
                </div>
                {% if post_item.comment.all.count %}
                <a href="{% url 'posts:postdetails' post_item.id %}" class="views">View all
                    {{ post_item.comment.all.count }} comment(s)</a>
                {% else %}
                {% endif %}
                <div class="timeline">
                    <a href="{% url 'posts:postdetails' post_item.id %}"
                        title="{{ post_item.posted | date:'F d, Y' }}">{{ post_item.posted|naturaltime }}</a>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <form method="POST" action="{% url 'posts:postdetails' post_item.id %}">
                {% csrf_token %}
                <input type="text" name="body" placeholder="Add a comment..." required>
                <input type="submit" name="action" value="Post">
            </form>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="postModal{{ post_item.id }}" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content rounded-5">
                <div class="modal-body">
                    <div class="go-to-post">
                        <button type="button" onclick="location.href='{% url 'posts:postdetails' post_item.id %}'">Go to
                            post</button>
                        <hr class="horizontal-line">
                        <button type="button" onclick="location.href=''">Copy Link</button>
                        <hr class="horizontal-line">
                        <button type="button" data-bs-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<!-- <script src="{% static 'js/posts.js' %}"></script> -->
{% endblock %}