{% include 'auth/navbar.html' %}
{% load static %}
{% load humanize %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="profile">
        <div class="profile-image">
            <i class="material-icons">account_circle</i>
        </div>
        <div class="profile-user-settings">
            <h1 class="profile-user-name">{{ profile.user }}</h1>
            {% if user.is_authenticated and user == profile.user %}
            <a href="" style="color: black;"><button class="btn profile-edit-btn">Edit Profile</button></a>
            <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fa fa-cog"
                    aria-hidden="true"></i></button>
            {% else %}
            {% if follow_status == True %}
            <button onclick="location.href=''" class="btn profile-message-btn">Message</button>
            <button class="btn profile-unfollow-btn" data-bs-toggle="modal" data-bs-target="#unfollowModal">
                <i class="material-icons">person</i>
                <i class="material-icons">done</i>
            </button>
            {% else %}
            <button onclick="location.href='{% url 'follow' profile.user 1 %}'"
                class="btn profile-follow-btn">Follow</button>
            {% endif %}
            {% endif %}
        </div>
        <div class="profile-stats">
            <ul>
                <li><span class="profile-stat-count">{{ number_of_post }}</span>&nbsp;post{{ number_of_post|pluralize }}
                </li>
                <li><span
                        class="profile-stat-count">{{ number_of_followers }}</span>&nbsp;follower{{ number_of_followers|pluralize }}
                </li>
                <li><span class="profile-stat-count">{{ number_of_following }}</span>&nbsp;following</li>
            </ul>
        </div>
        {% if profile.bio %}
        <div class="profile-bio">
            <p><span class="profile-real-name"></span>{{ profile.bio }}</p>
        </div>
        {% else %}
        {% endif %}
        <div class="profile-bio">
            <a href="{{ profile.url }}" target="_blank">{{ profile.url }}</a>
        </div>
        
    </div>
</div>
<hr class="horizontal-line">
<div class="post-saved-header">
    <a href="{% url 'profile' profile.user %}">
        <div class="posts {% if url_name == 'profile' %}is-active{% endif %}">
            <i class="material-icons {% if url_name == 'profile' %}is-active{% endif %}">border_all</i>
            <p>POSTS</p>
        </div>
    </a>
    {% if user.is_authenticated and user == profile.user %}
    <a href="{% url 'favourites' profile.user %}">
        <div class="saved {% if url_name == 'favourites' %}is-active{% endif %}">
            <i class="material-icons {% if url_name == 'favourites' %}is-active{% endif %}">turned_in_not</i>
            <p>SAVED</p>
        </div>
    </a>
    {% else %}
    {% endif %}
</div>

<div class="container-fluid">
    {% if posts %}
    <div class="gallery">
        {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">
            <div class="gallery-item" tabindex="0">
                <img src="{{ post.image.url }}" class="gallery-image" alt="postimg">
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart"
                                aria-hidden="true"></i>&nbsp;{{ post.liked.all.count }}</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                class="fa fa-comment" aria-hidden="true"></i>&nbsp;0</li>
                    </ul>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="no-posts">
        <i class="material-icons">photo_camera</i>
        <p>No Posts Yet</p>
    </div>
    {% endif %}
</div>
<!-- Modal -->
<div class="modal fade" id="unfollowModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="user-profile">
                <i class="material-icons">account_circle</i>
                <p>Unfollow&nbsp;&#64;{{ profile.user }}?</p>
            </div>
            <div class="modal-body">
                <div class="go-to-post">
                    <button type="button" style="color: #F33B3B; font-weight: bold;"
                        onclick="location.href='{% url 'follow' profile.user 0 %}'">Unfollow</button>
                    <hr class="modal-horizontal-line">
                    <button type="button" data-bs-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    {% include 'auth/footer.html' %}
</div>
{% endblock %}