{% include 'auth/navbar.html' %}
{% load static %}
{% load humanize %}

{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="profile">
        <div class="profile-image">
            <i class="material-icons">account_circle</i>
        </div>
        <div class="profile-user-settings">
            <h1 class="profile-user-name">janedoehhhhhhh</h1>
            <a href="" style="color: black;"><button class="btn profile-edit-btn">Edit Profile</button></a>
            <button class="btn profile-settings-btn" aria-label="profile settings"><i class="fa fa-cog"
                    aria-hidden="true"></i></button>
        </div>
        <div class="profile-stats">
            <ul>
                <li><span class="profile-stat-count">100</span> posts</li>
                <li><span class="profile-stat-count">100</span> followers</li>
                <li><span class="profile-stat-count">100</span> following</li>
            </ul>
        </div>
        <div class="profile-bio">
            <p><span class="profile-real-name">Jane Doe</span> Lorem ipsum dolor sit, amet consectetur adipisicing
                elit 📷✈️🏕️</p>
        </div>
    </div>
</div>
<hr class="horizontal-line">
<div class="post-saved-header">
    <a href="{% url 'profile' profile.user %}">
        <div class="posts {% if url_name == 'profile' %}is-active{% endif %}">
            <i class="material-icons {% if url_name == 'profile' %}is-active{% endif %}">border_all</i>
            <p>POSTS</p>
        </div>
    </a>
    <a href="{% url 'favourites' profile.user %}">
        <div class="saved {% if url_name == 'favourites' %}is-active{% endif %}">
            <i class="material-icons {% if url_name == 'favourites' %}is-active{% endif %}">turned_in_not</i>
            <p>SAVED</p>
        </div>
    </a>
</div>

<div class="container-fluid">
    {% if posts %}
    <div class="gallery">
        {% for post in posts %}
        <a href="{{ post.get_absolute_url }}">
            <div class="gallery-item" tabindex="0">
                <img src="{{ post.image.url }}" class="gallery-image" alt="postimg">
                <div class="gallery-item-info">
                    <ul>
                        <li class="gallery-item-likes"><span class="visually-hidden">Likes:</span><i class="fa fa-heart"
                                aria-hidden="true"></i>&nbsp;{{ post.liked.all.count }}</li>
                        <li class="gallery-item-comments"><span class="visually-hidden">Comments:</span><i
                                class="fa fa-comment" aria-hidden="true"></i>&nbsp;1</li>
                    </ul>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    {% else %}
    <div class="no-posts">
        <i class="material-icons">photo_camera</i>
        <p>No Posts Yet</p>
    </div>
    {% endif %}
</div>
<div class="footer">
    {% include 'auth/footer.html' %}
</div>
{% endblock %}